{include file="common/head" /}


<main>
    <!-- about foundation area start -->
    <div class="wrapper-box p-relative">
        <div class="breadcrumb-bg" data-background="{$bannerInfo.privacy_policy.cover}"></div>
        <div class="breadcrumb-area pt-265 pb-265">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__title">{$bannerInfo.privacy_policy.title}</h1>
                            <div class="breadcrumb__list">
                                <span class="dvdr"><i class="fa-solid fa-colon"></i></span>
<!--                                <span class="underline">team details</span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about-text-area pt-90 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about-me-personal-experience">
                        <h3 class="about-me-personal-title">
                            {$bannerInfo.privacy_policy.title}
                        </h3>
                        <p class="mb-30">
                            {$bannerInfo.privacy_policy.content}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about me text area end -->

</main>


{include file="common/footer" /}