{include file="common/head" /}


<main>
    <!-- about foundation area start -->
    <div class="wrapper-box p-relative">
        <div class="breadcrumb-bg" data-background="{$bannerInfo.terms.cover}"></div>
        <div class="breadcrumb-area pt-265 pb-265">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__title">{$bannerInfo.terms.title}</h1>
                            <div class="breadcrumb__list">
                                <span class="dvdr"><i class="fa-solid fa-colon"></i></span>
<!--                                <span class="underline">team details</span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about foundation area end -->



    <!-- about me text area start -->
    <section class="about-text-area pt-90 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about-me-personal-experience">
                        <h3 class="about-me-personal-title">
                            {$bannerInfo.terms.title}
                        </h3>
                        <p class="mb-30">
                            {$bannerInfo.terms.content}
                        </p>
                    </div>
                </div>
            </div>
            <!--            <div class="row justify-content-center p-relative">-->
            <!--                <div class="col-lg-8">-->
            <!--                    <h3 class="about-me-send-message-title">Send me a message</h3>-->
            <!--                </div>-->
            <!--                <div class="col-lg-10">-->
            <!--                    <div class="about-me-send-message">-->
            <!--                        <div class="contact-form">-->
            <!--                            <form action="#">-->
            <!--                                <div class="row">-->
            <!--                                    <div class="col-xl-6 col-lg-6">-->
            <!--                                        <div class="contact-input">-->
            <!--                                            <input type="text" placeholder="Enter your Name">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-xl-6 col-lg-6">-->
            <!--                                        <div class="contact-input">-->
            <!--                                            <input type="text" placeholder="Enter you mail">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-xl-12">-->
            <!--                                        <div class="contact-input">-->
            <!--                                            <textarea placeholder="Enter your message"></textarea>-->
            <!--                                        </div>-->
            <!--                                        <div class="about-me-btn text-center">-->
            <!--                                            <button class="tp-btn-black tp-btn-shine-effect">Send Message</button>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </form>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </section>
    <!-- about me text area end -->

</main>


{include file="common/footer" /}